html,body{
    border: 0;
    padding: 0;
    background-color: rgb(155, 109, 28);
}

h1{
    background-color: rgb(46, 104, 35);
    border : 0;
    padding: 10px;
}

form{
    display: inline-block ;
    background-color:rgb(200, 28, 28);
    width: 80%;
    margin: auto;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 15px;
    font-size: 40px;
}

label{
    font-size: 40px;
}






